body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

.version-form {
    display: none;
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

select, input[type="text"] {
    margin-left: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="text"] {
    width: 300px;
}

button {
    background-color: #388DF9;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0063ba;
}

#command-output {
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    white-space: pre-wrap;
    margin-top: 10px;
}

.hidden {
    display: none;
}
